.recent-transactions {
  background-color: #fff;
  box-shadow: var(--shadow-sm);
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-md);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    border-bottom: 1px solid #eaeaea;

    .btn-link {
      position: relative;
      display: inline-flex;
      align-items: center;
      color: var(--color-text-secondary);
      text-decoration: none;
      transition: color 0.3s;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 0;
        height: 1px;
        background-color: #10b95a;
        transition: width 0.3s ease;
      }

      &:hover {
        color: #10b95a;
      }

      &:hover::after {
        width: 100%;
      }

      &__icon {
        margin-left: 4px;
        font-size: 16px;
      }
    }
  }

  h4 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: var(--color-black);
  }
}
.recent-transactions__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 1.2rem;
  color: var(--color-primary);

  &::before {
    content: "";
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 3px solid var(--color-primary);
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
