.dashboard-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  color: #6b7280;
  margin-top: auto;
  padding: 15px;
  border-top: 1px solid #e5e7eb;

  &__content {
    text-align: center;
    width: 100%;
  }

  &__heart {
    color: #e9433a;
    margin: 0 4px;
  }
}
